<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado do Cálculo</title>

           <style>
        body {
            background-image: url('{{ url_for('static', filename='American-money-dollars-RS.jpg') }}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            margin: 2;
            color: white;
        }
    </style>

</head>
<body>
    <h1>Resultado do Cálculo</h1>
    <p>{{ resultado }}</p>
    <a href="/">Voltar</a>
</body>
</html>